## .NET
bin/
obj/
*.user
*.suo
.vs/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

## Logs
*.log
logs/

## Secrets
appsettings.*.local.json
secrets.json
.env
.env.local

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Rider
.idea/

## Visual Studio Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## Node
node_modules/
dist/
